@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh; 
    font-family: 'Playfair Display', serif;
    text-align: center;
    background-color: #A6A998; /* Sample color, adjust as needed */
  }
  
  .hero-title {
    font-size: 4em; /* Large font size for the title */
    margin: 0.5em 0; /* Spacing around the title */
    color: #fff; /* Dark text color for contrast */
    font-weight: bold;
}
  
  .hero-button {
    font-size: 1em;
    padding: 1em 2em;
    border: none;
    background-color: #fff; 
    color: black; 
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'DM Sans', sans-serif;
    font-weight: medium;
    /* Slightly larger button text and lighter button color on hover */
  }
  
  .hero-button:hover {
    background-color: #444;
  }
  