@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;900&display=swap');
body {
    font-family: 'Playfair Display', serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }
  
  .auth {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  /* Login Form Styles */
  .login-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 350px;
    text-align: center;
  }
  
  .login-form h1 {
    margin-bottom: 20px;
    color: #333;
  }
  
  .login-form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .login-form button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .login-form button:hover {
    background-color: #0056b3;
  }
  
  .login-form p {
    color: red;
    margin: 10px 0;
  }
  
  .login-form span {
    font-size: 0.9em;
  }
  
  
  
  